<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/Images/logo.png" alt="logoInfotechAcademy" class="img-fluid">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Anasayfa</a></li>
            <li class="vr"></li>
            <li><a href="/Products" class="nav-link px-2 link-dark">Ürünlerimiz</a></li>
            <li class="vr"></li>
            @await Component.InvokeAsync("Kategoriler")
            <li class="vr"></li>
            <li><a href="/iletisim" class="nav-link px-2 link-dark">İletişim</a></li>
        </ul>
        <form asp-controller="Products" asp-action="Index" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input name="q" type="search" class="form-control" placeholder="Ürün Ara..." aria-label="Search">
        </form>
        <div class="text-end">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-danger" href="/Account/Logout">Oturumu Kapat</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary me-2">
                    Giriş Yap
                </a>
                <a asp-controller="Account" asp-action="Create" class="btn btn-primary">Üye Ol</a>
            }
        </div>
    </header>
</div>
<!-- header kodları bitiş -->