<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menü</div>
                <a class="nav-link" href="/Admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ana Ekran
                </a>
                <a class="nav-link collapsed" href="/Admin/Categories">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Kategori Yönetimi
                </a>
                <a class="nav-link collapsed" href="/Admin/Contacts">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    İletişim Formları
                </a>                
                <a class="nav-link" href="/Admin/Products">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Ürün Yönetimi
                </a>
                <a class="nav-link" href="/Admin/Slides">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Slider Yönetimi
                </a>
                <a class="nav-link" href="/Admin/Users">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Kullanıcı Yönetimi
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Hoşgeldin:</div>
            Admin
        </div>
    </nav>
</div>